.containerPage{
    border-bottom: 1px solid black;
}

.containerBtn{
    display: flex;
}

.btn{
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
    background-color: white;
}

.btn:hover{
    background-color: #d5001c;
    color: white;
    border: none;
}

.container{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.containerAdd{
    width: 50%;
}

.input{
    width: 150px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}

.elementRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
}

.btnDelete{
    margin: 0;
    margin-left: 10px;
}